@use "../../assets/styles/containers/Variables.scss" as *;

.FullCard {
  border: 1px solid $grey-1;
  border-radius: 1em;
  padding: $spacing-03 $spacing-02 100px;

  &__Info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: $spacing-02;
    border-radius: 0.7em;
    background-color: $white-color;
    box-shadow: 0px 4px 4px rgba(211, 207, 212, 0.4);

    &__Header {
      align-items: center;
      display: flex;
      margin: 0 0 $spacing-02;
      justify-content: flex-end;

      &--Pic {
        height: 2em;
        margin: 0 1em;
      }

      &--Title {
        display: flex;
        align-items: center;
      }

      & button {
        border: none;
        background-color: transparent;

        &:focus {
          outline: none;
        }
      }

      .options {
        font-size: 2em;
      }

      & .delete {
        margin-inline-end: $spacing-04;
        color: $warning-color;
      }

      & .edit {
        color: $secondary-color;
      }
    }

    &__Name {
      margin: $spacing-02 0 $spacing-01;
      font-weight: bold;
      font-family: $headlines-font;
      text-transform: uppercase;
    }

    &__Desc {
    }

    &__Img {
      margin: 0 auto;
      position: relative;

      &__Image {
        border-radius: 0.7em;
        max-width: 100%;
      }

      .faMars {
        color: $male;
      }

      .faVenus {
        color: $female;
      }

      &__Gender {
        position: absolute;
        right: $spacing-01;
        top: $spacing-01;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: $font-color;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        background-color: $white-color;
      }

      &__Size {
        position: absolute;
        right: $spacing-01;
        border-radius: 0.3em;
        display: flex;
        align-items: center;
        padding: 0.3em;
        justify-content: center;
        flex-direction: column;
        height: 1.5em;
        background-color: $white-color;
        bottom: $spacing-01;
        color: $font-color;
        font-weight: bold;
        font-size: 1em;
      }
    }
  }

  &__Details {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: $spacing-03;
    grid-column-gap: $spacing-01;

    &--item {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-title {
        margin: 0;
        color: $grey-2;
        font-size: 0.75em;
      }

      &-text {
        margin: 0;
      }
    }

    .small {
      font-size: 1.6em;
    }
  }
}

@media screen and (min-width: 768px) {
  .FullCard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10em;

    &__Info {
      max-width: 1300px;
      display: flex;
      flex-direction: row;
      padding: 1.5em;

      & .FullCard__imag-wrapper {
        width: 55%;
      }

      &__Img {
        &__Gender {
          top: $spacing-02;
          right: $spacing-02;
        }

        &__Size {
          right: $spacing-02;
          bottom: $spacing-02;
        }
      }

      &__Header {
        position: absolute;
        margin: auto;
        right: $spacing-03;
        top: $spacing-03;
      }

      &__Name {
        margin: 0 0 $spacing-02;
        font-size: 2rem;
      }

      &__Desc {
        margin-block-end: $spacing-04;

        & p {
          margin: 0;
          font-size: 1.5rem;
        }
      }

      &-wrapper {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 45%;
        padding: $spacing-04 $spacing-03 0;
      }

      .FullCard__Details--item-text {
        padding: 0;
      }
    }

    &__Details {
      &--item {
        &-title {
          font-size: 1rem;
        }

        &-text {
          font-size: 1.5rem;
        }
      }
    }
  }
}
