{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "20",
        "browsers": "> 0.25%, not dead"
      }
    }],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-class-properties"
  ]
}