@import '../../assets/styles/containers/Variables.scss';

.Category {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 90%;
  padding: 0.5em;
  margin: 20px auto 20px;
  color: $font-color;
  overflow-x: scroll;

  & .Category-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 40px;
    padding: 0 $spacing-01;
    border-radius: 0.3em;
    font-size: 1.5em;
    cursor: pointer;
    background-color: $white-color;
    box-shadow: 0px 4px 4px rgba(211, 207, 212, 0.4);

    &:first-child {
      margin-inline-start: 0;
    }

    &__imageContainer {
      width: 25px;
      height: 25px;
      border-radius: 5px;
      background-color: $grey-1;
    }

    &__name {
      margin: 0 0.5em;
      user-select: none;
      font-size: 0.75rem;
    }
  }

  &::-webkit-scrollbar {
    display: block;
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: $grey-2;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $grey-3;
  }
}

@media screen and (min-width: 768px) {
  .Category {
    width: 700px;

    & .Category-item {
      height: 70px;
      padding: 0 $spacing-02;

      &__name {
        font-size: 1.5rem;
      }
    }
  }
}