@use "../../assets/styles/containers/Variables.scss" as *;

.Confirm {
  display: grid;
  grid-gap: 1.5em;
  max-width: 690px;
  margin: $spacing-03 auto 0;
  padding: 0 $spacing-02 100px;

  &__Card {
    display: grid;
    grid-template: repeat(5, auto) / repeat(2, 1fr);
    grid-template-areas:
      "garment gender"
      "brand category"
      "size state"
      "city color"
      "description description";
    padding: $spacing-02;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(211, 207, 212, 0.4);
    background-color: #fff;

    &__Item {
      &.garment {
        grid-area: garment;
      }

      &.category {
        grid-area: category;
      }

      &.description {
        grid-area: description;
      }

      &.size {
        grid-area: size;
      }

      &.gender {
        grid-area: gender;
      }

      &.state {
        grid-area: state;
      }

      &.brand {
        grid-area: brand;
      }

      &.color {
        grid-area: color;
      }

      &.city {
        grid-area: city;
      }

      &--title {
        font-weight: bold;
      }

      &--image {
        height: 5em;
      }
    }
  }

  & .user-information {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "profile-picture profile-picture"
      "name phone";

    & .profile-picture {
      grid-area: profile-picture;
      text-align: center;

      & .Confirm__Card__Item--image {
        border-radius: 50%;
      }
    }

    & .name {
      grid-area: name;
    }

    & .phone {
      grid-area: phone;
    }
  }

  &__Actions {
    @include back-next-buttons;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 1em;
  }

  button {
    @include default-button();
    margin: 0 0.3em;

    &:hover {
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(178, 225, 1, 0.2));
      transform: scale(1.06);
    }

    &:focus {
      transform: scale(0.94);
    }
  }
}

@media screen and (min-width: 768px) {
  .Confirm {
    margin: $spacing-05 auto 100px;
  }
}
