@import '../../assets/styles/containers/Variables.scss';

.Confirm {
  display: grid;
  grid-gap: 1.5em;
  margin: 2em auto;
  max-width: 50%;

  &__Card {
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0px 4px 4px rgba(211, 207, 212, 0.4);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin: 0 auto;
    width: 80%;
    padding: 1em;

    &__Item {

      &--title {
        font-weight: bold;
      }

      &--text {
        padding: 0 0.5em;
      }

      &--image {
        height: 5em;
      }
    }

  }

  &__Actions {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1em;
    width: 80%;
  }

  button {
    @include default-button();
    margin: 0 0.3em;
    box-shadow: 0px 4px 4px rgba(211, 207, 212, 0.4);

    &:hover {
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(178, 225, 1, 0.2));
      transform: scale(1.06);
    }

    &:focus {
      transform: scale(0.94);
    }
  }
}