@import '../../assets/styles/containers/Variables.scss';

.FirstStep__container {
    @include steps-container;

    .FirstStep__stepper {
        margin-bottom: 1.5em;
        span {
            margin-left: 40px;
        }
    }

    h2 {
        margin-bottom: 1.5em;
        text-align: center;
        font-family: $headlines-font;
    }

    .FirstStep__Form {
        @include steps-form;

        .Input__container {
            width: 80%;
            font-size: 16px;

            label {
                color: $grey-3;
            }    

            input {
                @include input;
            }
        }

        button {
            @include default-button;
            /*align-self: flex-end;
            margin-right: 40px;*/
        }
    }

    .Account__confirmation--link {
        margin: 5px;
        font-weight: bold;
        color: black;
    }
}

/*-------------------UPLOAD IMAGE COMPONENT-------------------*/

.Upload-image__container {
    width: 100%;
    background-color: #F4F3F5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3em;

    img {
        width: 100%;
    }
}

.SecondStep__container {
    @include steps-container;
    padding: 0 40px;

    h2 {
        text-align: center;
        font-family: $headlines-font;
    }
}

.Stepper__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;

    button {
        border: none;
        background: none;
        outline: none;
        text-decoration: underline;
        font-family: $text-font;
        font-size: 16px;
        color: $grey-2;
    }
}

.Back-next__buttons {
    @include back-next-buttons;
}

/*-------------------THIRD STEP-------------------*/

.ThirdStep__container {
    @include steps-container;
    padding: 0 40px;

    h2 {
        text-align: center;
        margin-bottom: 2em;
    }

    h3 {
        font-family: $headlines-font;
    }

    .ThirdStep__Form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .Input__container {
            width: 100%;
            font-size: 16px;

            label {
                color: $grey-3;
            }    

            input {
                @include input;

                &::placeholder {
                    font-size: 40px;
                }
            }

            textarea {
                @include input;
                height: 90px;
                
                &::placeholder {
                    font-size: 16px;
                }
            }

            select {
                @include select;
                margin-bottom: 2em;
            }
        }
    }
}

/*-------------------FOURTH STEP-------------------*/

.FourthStep__container {
    background-color: #F4F3F5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $font-color;
    font-family: $text-font;
    padding: 2.5em 40px;

    h2 {
        text-align: center;
    }


    .Input__container {
        width: 100%;
        font-size: 16px;

        label {
            color: $grey-3;
        }    

        input {
            @include input;
        }

        select {
            @include select;
        }
    }

    h3 {
        margin-top: 2.5em
    }

    .Preview__button {
        border: none;
        background: none;
        outline: none;
        text-decoration: underline;
        font-family: $text-font;
        font-size: 16px;
        text-align: center;
        margin-bottom: 2em;
        font-weight: bold;
    }
}