@import '../../assets/styles/containers/Variables.scss';

.Form {
  display: flex;
  padding: $spacing-03 $spacing-02 100px;
  @include steps-container;

  label {
    color: $grey-3;
  }

  input {
    @include input();
  }

  & .Input__container:nth-of-type(2) {
    position: relative;
  }

  & input[type='password'] {
    margin-block-end: 0;
  }

  & input[name='phone'] {
    margin-block-end: 0;
  }

  & .prevention-message {
    font-size: 0.75rem;
    line-height: .7;

    &--margin-bottom {
      display: inline-block;
      margin-block-end: 1.5em;
    }
  }

  & .Input__character-limit {
    position: absolute;
    right: 0;
    font-size: 0.75rem;
  }

  button {
    @include default-button();
    transition: transform .3s ease-out, filter 0.3s ease-out;

    &:hover {
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(178, 225, 1, 0.2));
      transform: scale(1.06);
    }

    &:focus {
      transform: scale(0.94);
    }
  }

  .Center {
    display: block;
    margin: 0 auto;
  }

  textarea {
    @include input();
    padding-inline-start: 15px;
    height: 90px;
  }

  h2 {
    margin-bottom: 1.5em;
    text-align: center;
    font-family: $headlines-font;
  }

  select {
    @include select();
  }

  .Preview__button {
    border: none;
    background: none;
    outline: none;
    text-decoration: underline;
    font-family: $text-font;
    font-size: 16px;
    text-align: center;
    margin-bottom: 2em;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .Form__form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Form__stepper {
    margin-bottom: 1.5em;
  }

  .Account__confirmation {
    text-align: center;

    .Account__confirmation--link {
      font-weight: bold;
      text-decoration: underline;
      margin-left: 5px;
    }

  }
}

.Upload-image__container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1em;

  img {
    width: 20em;
    height: 20em;
    margin: 0 auto;
  }

  .Upload__photo-button {
    border: none;
  }

}

.Stepper__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;

  button {
    border: none;
    background: none;
    outline: none;
    text-decoration: underline;
    font-family: $text-font;
    font-size: 16px;
    color: $grey-2;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.Back-next__buttons {
  @include back-next-buttons;
}

.Reset-height {
  height: initial;
}

@media screen and (min-width: 769px) {
  .Form {
    align-items: center;
    max-width: 690px;
    margin: $spacing-05 auto 100px;
    padding: $spacing-04 0;
    border-radius: 15px;
    background-color: #fff;

    .White {
      width: 390px;
    }

    .Long {
      margin: 3em 0;
    }
  }
}