@import '../../assets/styles/containers/Variables.scss';

.Form {
  @include steps-container;
  padding: 0 40px;
  display: flex;

  label {
    color: $grey-3;
  }

  input {
    @include input();
  }

  button {
    @include default-button();
    transition: transform .3s ease-out, filter 0.3s ease-out;

    &:hover {
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(178, 225, 1, 0.2));
      transform: scale(1.06);
    }

    &:focus {
      transform: scale(0.94);
    }
  }

  .Center {
    display: block;
    margin: 0 auto;
  }

  textarea {
    @include input();
    padding-inline-start: 15px;
    height: 90px;
  }

  h2 {
    margin-bottom: 1.5em;
    text-align: center;
    font-family: $headlines-font;
  }

  select {
    @include select();
  }

  .Preview__button {
    border: none;
    background: none;
    outline: none;
    text-decoration: underline;
    font-family: $text-font;
    font-size: 16px;
    text-align: center;
    margin-bottom: 2em;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .Form__form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Form__stepper {
    margin-bottom: 1.5em;
  }

  .Account__confirmation {
    text-align: center;

    .Account__confirmation--link {
      font-weight: bold;
      text-decoration: underline;
      margin-left: 5px;
    }

  }
}

.Upload-image__container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1em;

  img {
    width: 20em;
    height: 20em;
    margin: 0 auto;
  }

  .Upload__photo-button {
    border: none;
  }

}

.Stepper__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;

  button {
    border: none;
    background: none;
    outline: none;
    text-decoration: underline;
    font-family: $text-font;
    font-size: 16px;
    color: $grey-2;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.Back-next__buttons {
  @include back-next-buttons;
}

.Reset-height {
  height: initial;
}

@media screen and (min-width: 769px) {
  .Form {
    max-width: 50%;
    margin: 0 auto;

    .White {
      background-color: #fff;
      padding: 3em;
      border-radius: 15px;
    }

    .Long {
      margin: 3em 0;
    }
  }
}

.UploadClothe {
  display: flex;
  justify-content: center;

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    cursor: pointer;
  }

  label {
    margin-left: 5px;
    border-radius: 15px;
    cursor: pointer;

    div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  input + label {
      width: 50px;
      height: 60px;
      font-size: 1.25em;
      font-weight: 700;
      color: white;
      background-color: black;
      display: inline-block;
  }

  input:focus + label,
  input:focus + label:hover {
      background-color: red;
  }
}