@import '../../assets/styles/containers/Variables.scss';

.MyClothes {
  max-width: 1000px;
  margin: 0 auto 100px;
  padding: $spacing-03 $spacing-02 0;

  &__Profile {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 320px;
    margin: 0 auto;

    &--Config {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      box-shadow: 0px 4px 4px rgba(211, 207, 212, 0.4);
      background-color: $white-color;

      .icon {
        color: $secondary-color;
        font-size: 1em;
      }
    }

    &--Info {
      display: flex;
      flex-direction: column;

      &-Name {
        margin-block-end: $spacing-01;
        font-family: $headlines-font;
        font-weight: bold;
        font-size: 1rem;
      }

      &-Number {
        margin-block-end: $spacing-01;
      }
    }

    &--Image {
      margin-inline-end: $spacing-02;
      border-radius: 50%;
    }
  }

  &__Clothes {
    display: flex;
    flex-direction: column;

    & h1 {
      margin: $spacing-04 0 $spacing-03;
      font-size: 1.5rem;
    }

    &-List {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $spacing-01;

      &-Items {
        border-radius: 10px;
        overflow: hidden;

        & figure {
          max-width: 100%;
          height: 100%;
          max-height: 320px;
          margin: 0;

          & img {
            width: 100%;
            height: inherit;
            object-fit: cover;
          }
        }

      }
    }
  }
}

@media screen and (min-width: 768px) {
  .MyClothes {
    padding: $spacing-05 $spacing-02 0;

    &__Profile {
      max-width: 590px;

      &--Image {
        width: 190px;
        height: 190px;
        object-fit: fill;
        margin-inline-end: $spacing-04;
      }

      &--Info {
        &-Name {
          margin-block-end: $spacing-01;
          font-size: 2rem;
        }

        &-Number {
          font-size: 2rem;
        }

        &-Count {
          font-size: 1.5rem;
        }
      }

      &--Config {
        width: 55px;
        height: 55px;

        & .icon {
          font-size: 1.3em;
        }
      }
    }

    &__Clothes {
      & h1 {
        margin: 70px 0 $spacing-04;
        font-size: 2.5rem;
      }
    }
  }
}