@import '../../assets/styles/containers/Variables.scss';

.Card {
  max-width: 550px;
  margin: 0 auto $spacing-02;
  padding: 0 $spacing-02 $spacing-04;
  border: 1px solid $grey-1;
  border-radius: 1em;

  &__Info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: $spacing-02;
    border-radius: 0.7em;
    box-shadow: 0px 4px 4px rgba(211, 207, 212, 0.4);
    background-color: $white-color;

    &__Header {
      display: flex;
      align-items: center;

      &--Pic {
        height: 2em;
        margin: 0 1em;
      }

      &--name {
        font-size: 1rem;
        font-weight: bold;
        margin-block-end: $spacing-02;
      }
    }

    &__Name {
      font-weight: bold;
      margin: 1.5em;
      text-transform: uppercase;
    }

    &__Desc {
      margin: 15px 0 0;

      &--Info {
        margin: 0;
        font-size: 1rem;
      }
    }

    &__Img {
      position: relative;
      margin: 0 auto;

      .center {
        position: absolute;
        top: 0;
        z-index: 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100%;

        .left {
          height: 100%;
          outline: none;
        }

        .right {
          height: 100%;
          outline: none;
        }
      }

      &__Image {
        width: 100%;
        // height: 51.78%;
        border-radius: 10px;
        object-fit: cover;
      }

      .faMars {
        color: $male;
      }

      .faVenus {
        color: $female;
      }

      &__Gender {
        position: absolute;
        top: .5em;
        right: 0.2em;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 30px;
        width: 30px;
        background-color: $white-color;
        border-radius: 50%;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
      }

      &__Size {
        align-items: center;
        background-color: $white-color;
        bottom: .5em;
        border-radius: 0.3em;
        color: $font-color;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 1em;
        height: 1.5em;
        justify-content: center;
        position: absolute;
        right: 0.2em;
        padding: 0.3em;
      }

      .ChevronLeft {
        color: $grey-3;
        left: 0.1em;
        top: 50%;
        transform: translateY(-50%);

        align-items: center;
        background-color: $white-color;
        border-radius: 50%;
        display: flex;
        font-size: 2em;
        flex-direction: column;
        font-weight: bold;
        justify-content: center;
        position: absolute;
        height: 40px;
        text-align: center;
        width: 40px;
        z-index: 5;
      }

      .ChevronRight {
        color: $grey-3;
        right: 0.1em;
        top: 50%;
        transform: translateY(-50%);

        align-items: center;
        background-color: $white-color;
        border-radius: 50%;
        display: flex;
        font-size: 2em;
        flex-direction: column;
        font-weight: bold;
        justify-content: center;
        position: absolute;
        height: 40px;
        text-align: center;
        width: 40px;
        z-index: 5;
      }
    }
  }

  &__Actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: $spacing-03;

    .icon {
      width: 30px;
      height: 30px;
      padding: 2em;
      border-radius: 50%;
      font-size: 10px;
      background-color: $white-color;
      box-shadow: 0px 4px 4px rgba(211, 207, 212, 0.4);
    }

    .small {
      margin: 0 $spacing-04;
      padding: 2.2em;
      font-size: 5px;
    }

    .faTimes {
      color: red;
    }

    .faBolt {
      color: $primary-color-dark-2;
    }

    .faHeart {
      color: $secondary-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .Card {
    margin: $spacing-02 auto $spacing-04;

    & .Card__Info {
      padding: $spacing-03;

      &__Header {
        &--name {
          font-size: 1.5rem;
        }
      }

      &__Desc {
        &--Info {
          font-size: 1.5rem;
        }
      }
    }

    &__Actions {
      & .icon {
        width: 40px;
        height: 40px;
        padding: 2em;
      }

      & .small {
        margin: 0 60px;
      }
    }
  }
}