@import '../../assets/styles/containers/Variables.scss';

.Card {
  border: 1px solid $grey-1;
  border-radius: 1em;
  margin: 1em auto 3em auto;
  width: 70%;

  &__Info {
    background-color: $white-color;
    border-radius: 0.7em;
    box-shadow: 0px 4px 4px rgba(211, 207, 212, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;

    &__Header {
      align-items: center;
      display: flex;
      margin: 1em;

      &--Pic {
        height: 2em;
        margin: 0 1em;
      }

      &--name {
        font-size: 1.5em;
        font-weight: bold;
        padding-left: 1em;
      }
    }

    &__Name {
      font-weight: bold;
      margin: 1.5em;
      text-transform: uppercase;
    }

    &__Desc {
      margin: 0.5em 1em;

      &--Info {
        font-size: 1.3em;
        padding-left: 1.5em;
      }
    }

    &__Img {
      margin: 0 auto;
      position: relative;

      .center {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 3;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .left {
          height: 100%;
        }

        .right {
          height: 100%;
        }
      }

      &__Image {
        border-radius: 0.7em;
        max-height: 25em;
        max-width: 100%;
        margin: 1em auto;
      }

      .faMars {
        color: $male;
      }

      .faVenus {
        color: $female;
      }

      &__Gender {
        align-items: center;
        background-color: $white-color;
        border-radius: 50%;
        display: flex;
        font-size: 1.5em;
        flex-direction: column;
        font-weight: bold;
        justify-content: center;
        position: absolute;
        top: 1em;
        right: 0.2em;
        height: 40px;
        text-align: center;
        width: 40px;
      }

      &__Size {
        align-items: center;
        background-color: $white-color;
        bottom: 1.5em;
        border-radius: 0.3em;
        color: $font-color;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 1em;
        height: 1.5em;
        justify-content: center;
        position: absolute;
        right: 0.2em;
        padding: 0.3em;
      }

      .ChevronLeft {
        color: $grey-3;
        left: 0.1em;
        top: 50%;
        transform: translateY(-50%);

        align-items: center;
        background-color: $white-color;
        border-radius: 50%;
        display: flex;
        font-size: 2em;
        flex-direction: column;
        font-weight: bold;
        justify-content: center;
        position: absolute;
        height: 40px;
        text-align: center;
        width: 40px;
        z-index: 5;
      }

      .ChevronRight {
        color: $grey-3;
        right: 0.1em;
        top: 50%;
        transform: translateY(-50%);

        align-items: center;
        background-color: $white-color;
        border-radius: 50%;
        display: flex;
        font-size: 2em;
        flex-direction: column;
        font-weight: bold;
        justify-content: center;
        position: absolute;
        height: 40px;
        text-align: center;
        width: 40px;
        z-index: 5;
      }
    }
  }

  &__Actions {
    align-items: center;
    display: flex;
    justify-content: space-around;

    .icon {
      background-color: $white-color;
      border-radius: 50%;
      box-shadow: 0px 4px 4px rgba(211, 207, 212, 0.4);
      margin: 1em 0;
      font-size: 2.2em;
      padding: 0.7em;
    }

    .small {
      font-size: 1.6em;
    }

    .faTimes {
      color: red;
    }

    .faBolt {
      color: $primary-color-dark-2;
    }

    .faHeart {
      color: $secondary-color;
    }
  }
}