.Card {
  display: flex;
  flex-direction: column;
  margin: 1em 0.5em;
  justify-content: space-evenly;
  border: 1px solid #99999999;
  border-radius: 0.2em;
  position: relative;

  &__Title {
    margin: 1em;
  }

  &__Categorie {
    color: red;
    font-size: 0.5em;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__Desc {
    margin: 1em;
  }

  &__Image {
    margin: 1em auto;
  }

  &__Likes {
    display: flex;
    justify-content: center;
    margin: 1em;
  }

}