.Header {
  width: 100vw;

  &__Main {
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
    padding: 0.5em 0;
  }

  &__Menu {
    bottom: 0;
    font-size: 2em;
    padding: 0.7em 0;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    background-color: #1a1a1a;
    z-index: 2;
  }

}

@media screen and (min-width: 769px) {
  .Header {

    &__Menu {
      position: static;
    }

  }
}