@import '../../assets/styles/containers/Variables.scss';

.Header {
  align-items: center;
  background-color: $primary-color-dark-2;
  display: flex;
  height: 60px;
  justify-content: space-around;
  width: 100%;

  &__Title {
    color: $font-color;
    font-family: $headlines-font;
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
  }

  li {
    border-radius: 0.4em;
    list-style: none;
    margin: 0.7em;
    padding: 1em;
  }

  &__Menu {
    bottom: 0;
    position: relative;

    &--Item:hover {
      border-bottom: 3px solid $secondary-color;
    }

    &--Upload {
      background-color: $secondary-color;
    }

    .icon {
      font-size: 1.3em;
    }

    span {
      margin: 0.3em;
    }
  }
}

@media screen and (max-width: 769px) {
  .Header {

    &__Menu {
      background-color: $grey-1;
      bottom: 0;
      font-size: 1.2em;
      justify-content: space-around;
      margin: 0;
      position: fixed;
      width: 100%;
      z-index: 6;

      &--Item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

    }

  }
}