.Footer {
  background-color: #afafaf;
  display: flex;
  justify-content: space-evenly;
  padding: 0.7em 0;

  &--social-networks {
    padding: 0 1em;
  }

  .socialIcon {
    color: var(--font-contrast);
    font-size: 1.5em;
    margin: 0.5em;
  }
}

@media screen and (max-width: 768px) {
  .Footer {
    display: none;
  }
}