@import '../../assets/styles/containers/Variables.scss';

.Upload__Image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    cursor: pointer;
  }

  label {
    border-radius: 10px;
    cursor: pointer;

    div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  input+label {
    width: 46px;
    height: 61px;
    font-size: 1.25em;
    font-weight: 700;
    background-color: #FFFFFF;
    display: inline-block;
    border: 1px dashed $grey-3;
  }

  input:hover+label,
  input:focus+label:hover {
    background-color: $secondary-color;
  }

  .Upload__image-button {
    margin: $spacing-02 0;
    @include default-button;
  }
}