body {
  background-color: #FAFAFA;
  color: #B5E0FC;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a:visited {
  color: var(--link);
}

a:hover {
  color: var(--link);
}

a:active {
  color: var(--link);
}

a:link {
  color: var(--link);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);}