//Color Palette

$primary-color: #C7A0DA;
$primary-color-light: #D3B5E5;
$primary-color-light-2: #DDC8ED;
$primary-color-dark: #B38DC9;
$primary-color-dark-2: #A17DBC;


$background-color: #E5E5E5;
$warning-color: #CC0E0E;

$male: #6FD9D9;
$female: #EB6283;

$secondary-color: #B2E101;
$secondary-color-dark: #A6CE00;
$secondary-color-dark-2: #9FBA00;
$secondary-color-light: #CAF222;
$secondary-color-light-2: #DCF739;

$success-color: #45D567;

$white-color: #FFFFFF;
$grey-1: #F4F3F5;
$grey-2: #D3CFD4;
$grey-3: #9C95A0;
$grey-4: #4A3C51;

//Font

$headlines-font: 'Montserrat',
sans-serif;
$text-font: 'Source Sans Pro',
sans-serif;
$font-color: #4A3C51;

//Spacing

$spacing-01: 10px;
$spacing-02: 20px;
$spacing-03: 30px;
$spacing-04: 40px;
$spacing-05: 50px;

//Mixins

@mixin steps-container {
  height: calc(100vh - 60px);
  background-color: #F4F3F5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: $text-font;
}

@mixin default-button {
  width: 130px;
  height: 52px;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #B2E101;
  font-weight: bold;
  font-size: 16px;
  justify-content: flex-end;
}

@mixin steps-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin input {
  width: 100%;
  height: 40px;
  display: block;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(190, 190, 190);
  margin-bottom: 1.5em;
  box-sizing: border-box;
}

@mixin back-next-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .Back__button {
    border: none;
    background: none;
    outline: none;
    text-decoration: underline;
    font-family: $text-font;
    font-size: 16px;
    font-weight: bold;
  }

  .Next__button {
    width: 130px;
    height: 52px;
    margin-inline-start: auto;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #B2E101;
    font-weight: bold;
    font-size: 16px;
    justify-content: flex-end;
    font-family: $text-font;
    font-size: 16px;
  }
}

@mixin hover-button {
  background-color: #B2E101;
  border-radius: 10px;
  text-align: center;
  outline: none;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(178, 225, 1, 0.2));
}

@mixin card {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(211, 207, 212, 0.4);
  border-radius: 10px;
}

@mixin select {
  border-radius: 10px;
  outline: none;
  margin-bottom: 1.5em;
  display: block;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  background-color: #fff;
}

// Reset

a {
  text-decoration: none;
}

a:visited {
  color: $grey-4;
}

a:hover {
  color: $grey-4;
}

a:active {
  color: $grey-4;
}

a:link {
  color: $grey-4;
}